*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.icon-Holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 75vh;
    min-height: 50vh;
    margin:0 auto;
}
.fwrdbkwd{
    margin:0 auto;
    padding: 5px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.races {
    width: 70%;
}
.classes {
    width: 100%;
}
.iconBox {
    background-color: #969696;
    border-radius: 5px;
    border: 5px solid ghostwhite;
    margin-top: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 141px;
    height: 156px;
    display: flex;
    align-items: center;
    transition: 0.2s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.iconBox .imgBx{
    position:absolute;
    padding: 5px;
    margin: auto;
    bottom: 5px;
    height:100%;
    width:100%;
    box-sizing:border-box;

}
.iconBox .raceIcon{
    max-height:120px;
    top:15px;
}
.iconBox:hover {
    width: 210px;
    margin: auto;
    position: absolute;
    z-index: 2;

}
.iconBox .imgBx img{
    max-width:120px;
    opacity:1;
    transition:0.4s;
}
.iconBox:hover .imgBx img {
    opacity:0.1;

}

.iconBox .content {
    position: absolute;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    overflow:hidden;
    transition: 0.2s;
}
.iconBox:hover .content {
    opacity: 1;
}
.iconBox .content h1 {
    display: block;
    font-size: 16px;
    color: #dedede;
    font-weight: 600;
    line-height: 20px;
    background: black;
    border: 2px solid ghostwhite;
    border-radius: 10px;
    margin-bottom:10px;
}
.iconBox .content h2 {
    font-size: 16px;
    color: #ffffff;
    border: 1px solid ghostwhite;

    font-weight: 400;
    line-height: 20px;
    background: black;
    border-radius: 10px;
}